<!DOCTYPE html>
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../css/addInfo_style.css">
    </head>
    <body>
        <!-- navbar -->
        <nav>
            <!-- Title -->
            <h1 class="title"><a href="index.html">JayBook!</a></h1>
            <ul>
              <!-- Developers Link -->
              <li><a href="profiles.html">Developers</a></li>
              <!-- Posts Link -->
              <li><a href="posts.html">Posts</a></li>
              <!-- Dashboard link -->
              <li><a href="dashboard.html">Dashboard</a></li>
              <!-- Logout link -->
              <li><a href="logout.html">Logout</a></li>
            </ul>
          </nav>
        <!-- landing -->
        <div class="landing">
            <h1>Add your Education</h1>
            <p class="banner">Add any school, bootcamp, etc that you have attended.</p>
            <small>* required field</small>
            <h2>Tell us About you!</h2>
            <form class ="form">
                <!-- school or bootcamp -->
                <div class="school">
                    <input
                        type="text"
                        placeholder="* School or Bootcamp"
                        name="school"
                        required
                    />
                </div>
                <!-- Degree or Certificate -->
                <div class="degree">
                    <input
                        type="text"
                        placeholder="* Degree or Certificate"
                        name="degree"
                        required
                    />
                </div>
                <!-- Field of Study -->
                <div class="fieldStudy">
                    <input type="text" placeholder="Field Of Study" name="fieldofstudy" />
                </div>
                <!-- From Date -->
                <h4 class="fromDate">From Date</h4>
                <div class=from-date>
                    <input type="date" name="from">
                </div>
                <!-- check Current School or Bootcamp -->
                <input type="checkbox" id="current">
                <label for="current">Current School or Bootcamp</label>
                <!-- To Date -->
                <h4 class="toDate">To Date</h4>
                <div class=to-date>
                    <input type="date" name="from">
                </div>
                <!-- textarea description -->
                <textarea
                name="description"
                cols="30"
                rows="5"
                placeholder="Program Description"></textarea>
                <!-- buttons submit & cGo back -->
                <div class="buttons">
                    <input class="submit" type="submit" value="Submit">
                    <a class="getouthere" href="dashboard.html">Go Back</a>
                </div>
            </form>
        </div>
    </body>
</html>