<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie-edge" />
    <link rel="stylesheet" href="../css/login_style.css" />
    <title>Login</title>
  </head>
  <body>
    <nav>
      <!-- Title -->
      <h1 class="title"><a href="index.html">JayBook!</a></h1>
      <ul>
        <!-- Login link -->
        <li><a href="login.html">Login</a></li>
        <!-- Register link -->
        <li><a href="register.html">Register</a></li>
        <!-- Developers Link -->
        <li><a href="profiles.html">Developers</a></li>
      </ul>
    </nav>
    <!-- landing -->
    <div class="panel">
      <div class="panel-info">
        <h1 class="frotal-title">Login!</h1>
        <p>A Social Media built in M.E.R.N & Sass!</p>
      </div>
      <div class="panel-login">
        <form action="" class="form">
          <div class="form_field">
            <input type="email" placeholder="Email" />
            <input type="password" placeholder="Password" />
          </div>

          <div class="buttons_field">
            <a href="#" class="btn-secondary">Login</a>
            <!-- <input type="submit" class="btn-secondary" value="Login" /> -->
          </div>
          <p class="my-1">
            Not account yet?
            <a class="not_account" href="register.html"> Register now!</a>
          </p>
        </form>
      </div>
    </div>
  </body>
</html>
