<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie-edge" />
    <link rel="stylesheet" href="../css/register_style.css" />
    <title>Register</title>
  </head>
  <body>
    <nav>
      <!-- Title -->
      <h1 class="title"><a href="index.html">JayBook!</a></h1>
      <ul>
        <!-- Login link -->
        <li><a href="login.html">Login</a></li>
        <!-- Register link -->
        <li><a href="register.html">Register</a></li>
        <!-- Developers Link -->
        <li><a href="profiles.html">Developers</a></li>
      </ul>
    </nav>
    <!-- landing -->
    <div class="panel">
      <div class="panel-info">
        <h1 class="frotal-title">Join Us!</h1>
        <p>A Social Media built in M.E.R.N & Sass!</p>
      </div>
      <div class="panel-login">
        <form action="create-profile.html" class="form">
          <div class="form_field">
            <input type="text" placeholder="Name" name="name" required />
            <input type="email" placeholder="Email" />
            <input type="password" placeholder="Password" name="password"
            minLength="6" />
            <input
            type="password"
            placeholder="Confirm Password"
            name="password2"
            minLength="6"
          />
        </div>
          </div>
          <div class = "info_pannel">
            <p>
              <small class="form-text"
            >This site uses Gravatar so if you want a profile image, use a
            Gravatar email</small>
            </p>
            <p class="my-1">
              Already have an account? <a href="login.html">Sign In</a>
            </p>
          </div>
          <div class="buttons_field">
            <a href="#" class="btn-secondary">Register</a>
            <!-- <input type="submit" class="btn-secondary" value="Login" /> -->
          </div>
          
        </form>
      </div>
    </div>
  </body>
</html>
